@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,hebrew,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese");

/*search menu*/
@media (max-width: 800px) {
  .search_pop_size {
    width: 60%;
    min-width: 300px;
  }

  .search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search_bar > input {
    margin: 0px;
  }

  .search_title {
    font-size: 10px;
    font-family: "Quicksand";
    font-weight: 200;
    margin: 10px 0 35px 0px;
  }

  .pop_title {
    text-align: left;
    margin-left: -10px;
    margin-top: 25px;
  }

  .pop_title > h5 {
    font-size: 15px;
  }

  .option_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search_button {
    margin-top: 20px;
  }
}
/* 
#search_bar {
  width: 120px;
  height: 50px;
}

#search_submit {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_submit > i {
  text-align: center;
  font-size: 15px;
} */

.parent_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*account-text*/
.account_text {
  font-size: 1rem;
  color: white;
  font-family: "Quicksand";
  font-weight: 700;
}

/*header-color*/
.header_color {
  /* background-color: rgba(0, 0, 0, 0.1); */
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
}

/*main-img*/
.main_section {
  height: auto;
}

/* .main_img {
  background-image: url("/images/cafe_main.jpg");
  background-size: cover;
} */
/*extra-position*/
.extra_top {
  position: absolute;
  top: 15px;
  right: 30px;
}

/*margin top main section*/
.main-section {
  margin-top: 50px;
}

/*style.css -> urrating width를 60 -> 30%*/

/*search-popup-size and position*/
.search_pop_size {
  width: 60%;
  height: 300px;
  left: 25%;
  margin-left: -50px;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar > input {
  margin: 0px;
}

.search_title {
  font-size: 25px;
  font-family: "Quicksand";
  font-weight: 700;
  margin: 10px 0 35px 0px;
}

.pop_title {
  text-align: left;
  margin-left: -10px;
  margin-top: 25px;
}

.option_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_btn {
  margin-top: 20px;
}

/*main_before_login_section*/
.main_section,
.main_img > img {
  height: 100vmin;
}

.search_title {
  margin-top: 20px;
}

/*style.css에 html,body{height:100%} 추가*/

/*header z down*/
.section_down {
  margin-top: 50px;
}

/* my subscription - 구독중인 유저의 프로필 위치 이동 */
.sub_profile {
  float: left;
  margin: 20px 0px 10px -30px;
  padding-bottom: 10px;
}

/* my subscription - 구독중인 유저의 아이디 색상변경 */
.sub_profile span {
  color: #000;
}

/*add or revise cafe title*/
.add_cafe_title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

/*cafe_list_title*/
#cafe_list_title {
  font-size: 15px;
}

/*half_map_custom*/
.half_map_custom {
  width: 50%;
  padding-left: 0;
  position: static;
  height: 100%;
}

.flex-row {
  display: flex;
}

/*header_text*/
.header_list {
  margin: 35px;
  margin-right: -10px;
}

.header_text {
  font-size: 14px;
  color: white;
  padding: 35px 14px;
  font-family: "Rubik";
}

.header_text_re > li {
  font-size: 20px;
  color: black;
  padding: 25px 14px;
  font-family: "Rubik";
  margin: 50px;
}

.header_text_re_li {
  margin: 35px;
  cursor: pointer;
}
