    /*
    Flaticon icon font: Flaticon
    Creation date: 04/04/2018 10:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-back:before { content: "\f100"; }
.flaticon-eye:before { content: "\f101"; }
.flaticon-dustbin:before { content: "\f102"; }
.flaticon-eraser:before { content: "\f103"; }
.flaticon-smile:before { content: "\f104"; }
.flaticon-thumb-up:before { content: "\f105"; }
.flaticon-coupon:before { content: "\f106"; }
.flaticon-booked:before { content: "\f107"; }
.flaticon-handicapped:before { content: "\f108"; }
.flaticon-bicycle:before { content: "\f109"; }
.flaticon-smoking:before { content: "\f10a"; }
.flaticon-parking:before { content: "\f10b"; }
.flaticon-wifi:before { content: "\f10c"; }
.flaticon-credit-card:before { content: "\f10d"; }
.flaticon-share:before { content: "\f10e"; }
.flaticon-heart:before { content: "\f10f"; }
.flaticon-note:before { content: "\f110"; }
.flaticon-construction:before { content: "\f111"; }
.flaticon-weightlifting:before { content: "\f112"; }
.flaticon-guitar:before { content: "\f113"; }
.flaticon-magnifying-glass:before { content: "\f114"; }
.flaticon-arrows:before { content: "\f115"; }
.flaticon-upload:before { content: "\f116"; }
.flaticon-avatar:before { content: "\f117"; }
.flaticon-planet-earth:before { content: "\f118"; }
.flaticon-map:before { content: "\f119"; }
.flaticon-check:before { content: "\f11a"; }
.flaticon-pin:before { content: "\f11b"; }
.flaticon-phone-call:before { content: "\f11c"; }
.flaticon-money:before { content: "\f11d"; }
.flaticon-mountain:before { content: "\f11e"; }
.flaticon-hotel:before { content: "\f11f"; }
.flaticon-chef:before { content: "\f120"; }
.flaticon-wine-glass:before { content: "\f121"; }
    
    $font-Flaticon-back: "\f100";
    $font-Flaticon-eye: "\f101";
    $font-Flaticon-dustbin: "\f102";
    $font-Flaticon-eraser: "\f103";
    $font-Flaticon-smile: "\f104";
    $font-Flaticon-thumb-up: "\f105";
    $font-Flaticon-coupon: "\f106";
    $font-Flaticon-booked: "\f107";
    $font-Flaticon-handicapped: "\f108";
    $font-Flaticon-bicycle: "\f109";
    $font-Flaticon-smoking: "\f10a";
    $font-Flaticon-parking: "\f10b";
    $font-Flaticon-wifi: "\f10c";
    $font-Flaticon-credit-card: "\f10d";
    $font-Flaticon-share: "\f10e";
    $font-Flaticon-heart: "\f10f";
    $font-Flaticon-note: "\f110";
    $font-Flaticon-construction: "\f111";
    $font-Flaticon-weightlifting: "\f112";
    $font-Flaticon-guitar: "\f113";
    $font-Flaticon-magnifying-glass: "\f114";
    $font-Flaticon-arrows: "\f115";
    $font-Flaticon-upload: "\f116";
    $font-Flaticon-avatar: "\f117";
    $font-Flaticon-planet-earth: "\f118";
    $font-Flaticon-map: "\f119";
    $font-Flaticon-check: "\f11a";
    $font-Flaticon-pin: "\f11b";
    $font-Flaticon-phone-call: "\f11c";
    $font-Flaticon-money: "\f11d";
    $font-Flaticon-mountain: "\f11e";
    $font-Flaticon-hotel: "\f11f";
    $font-Flaticon-chef: "\f120";
    $font-Flaticon-wine-glass: "\f121";